*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Jost", sans-serif;
}

:root {
    --bg-color: #1d1c1b;
    --text-color: #fff;
    --main-color: #ea5445;
    --other-color: #858585;
    --h1-font: 5rem;
    --p-font: 1.1rem;
}

html {
    font-size: 10px;
}

body {
    font-family: "Jost", sans-serif;
    background-color: black;
    color: white;
}
/* common styles*/
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--other-color);
}

p {
    color: #858585;
    font-size: 14px;
}
.title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.item_preTitle {
    font-size: 1.4rem;
    color: var(--other-color);
    font-weight: 300;
}

.item_title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subtitle {
    font-size: 1.4rem;
    color: #858585;
    font-weight: 400;
}
/* layouts */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/* profile */
.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.profile_container {
    display: flex;
    gap: 2rem;
}

.profile_profileImg {
    max-width: 250px;

}

.profile_name_firstName {
    color: var(--text-color);
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_lastName {
    color: var(--main-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

/* languages learned */
.skill_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* reference */
.ref_name {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
}

/*education*/

.edu_item {
    margin-top: 2rem;
}

/* certification */

.certification_item {
    margin-top: 2rem;
}

/* exp */

.exp_item {
    margin-top: 2rem;
}

